// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$list-item-min-height: 36px;
$list-dense-min-height: 30px;
$list-item-icon-margin: 6px 0;
$list-dense-icon-margin: 3px;